

body {
	background: url("../images/crayons_bg.jpg") no-repeat fixed center;

}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

p {
   font-size: 20px;
   font-family: sans-serif;
   text-align: center;
}

.blue{color: blue;}
.red{color:red;}
.purple{color:purple;}
.fuchsia{color:fuchsia;}
.green{color:green;}
.yellow{color: yellow;}
.pink{color:pink;}

#quizForm {
	background-color: lightblue;
	opacity: 0.8;
	text-align: center;
}

input.radio-inline {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 0;
	margin-bottom: 0;

}

.btn {
	display: block;
	margin: auto;

}

#answer {
	padding-right: 5px;
	padding-left: 5px;
}

footer {
	text-align: center;
}


